{% extends 'Peluditos/Base.html' %}


  {% block title %}   <title>  🦴  Peluditos - Registrar Cliente</title> {% endblock title %}



 {% block content %}

 <!-- Cuadro -->
 <div class="row justify-content-center">


         <!-- Formulario Agregar Cliente -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-success shadow h-100 py-2">

               <div class="card-body">

                   <div >
                     <h6 class="m-0 font-weight-bold text-primary">Registrar Cliente 🦴</h6>   <hr>
                   </div>

                    <form class="user" method="post">
                    {% csrf_token %}

                    <div class="row col-3  justify">{{ form.as_p }}  </div>
                   <button type="submit" class="btn btn-success btn-lg" name="button">Registrar</button>     <hr>

                   </form>

                  <div class="row">  <div class="col-lg-2 col-md-4 col-6">    </div>

              </div>
           </div>

       </div>
</div>

 {% endblock %}
