{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% block title %}


{% endblock title %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Raleway:600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template áéíóú-->
<link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

<body>

  <!-- Dise;o base -->


    <!-- Barra Superior blanca-->
    <div id="wrapper">

      <!-- Menu Azul -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Nombre Superior-->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
          <div>   🦴  Peluditos </div> </a>
        <hr class="sidebar-divider my-0">


        <!-- Menu Citas -->
        <li class="nav-item ">
          <a class="nav-link" href='{%url "Citas"%}'>
            <i class="fas fa-fw fa-calendar-alt"></i>
            <span> Citas </span></a>
          </a>
        </li>
        <hr class="sidebar-divider">


        <!--  Menu Clientes-->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-user"></i>
            <span>Cliente</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href='{%url "Clientes"%}'>Ver Clientes</a>
              <a class="collapse-item" href='{%url "AgregarCliente"%}'>Registrar Cliente</a>
            </div>
          </div>
        </li>


        <!-- Menu  Mascotas -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-dog"></i>
            <span>Mascotas</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href='{%url "Mascotas"%}'>Ver Mascotas</a>
              <a class="collapse-item" href='{%url "AgregarMascota"%}'>Registrar Mascota</a>
            </div>
          </div>
        </li>

        <!-- Menu Servicios -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-list"></i>
            <span>Servicios</span>
          </a>
          <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href='{%url "Servicios"%}'>Ver Servicios</a>
              <a class="collapse-item" href='{%url "AgregarServicio"%}'> Agregar Servicio</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider">


        <!-- Menu Agendar Citas -->
        <li class="nav-item">
          <a class="nav-link" href='{%url "AgregarCita"%}'>
            <i class="fas fa-fw fa-calendar-check"></i>
            <span>Agendar Cita</span></a>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Boton Redondo -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>



      <!-- Contenedor Blanco-->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


            <!-- Detalles Superiores -->
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>

                  <!-- Informacion de Usuario -->

                  <li class="nav-item dropdown no-arrow">
                      <a href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                          <span class="m-0 font-weight-bold text-primary text-uppercase"> Usuario: {{user.username}} 🦴</span>

                        <a href='{% url "Logout" %}' class="btn btn-success btn-icon-split btn-sm">
                          <span class="icon text-white-50">
                            <i class="fas fa-sign-out-alt"></i>
                          </span>
                          <span class="text">Salir</span>
                        </a>
                 </li>
            </ul>
          </nav>



     {% block content %}


     {% endblock %}


     <section id="clients" >
       <div class="container">

         <div class="row">  <div class="col-lg-2 col-md-4 col-6">
             <img src="{% static 'img/banner/1b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in">
           </div>

           <div class="col-lg-2 col-md-4 col-6">
             <img src="{% static 'img/banner/2b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
           </div>

           <div class="col-lg-2 col-md-4 col-6">
             <img src="{% static 'img/banner/3b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
           </div>

           <div class="col-lg-2 col-md-4 col-6">
             <img src="{% static 'img/banner/4b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
           </div>

           <div class="col-lg-2 col-md-4 col-6">
             <img src="{% static 'img/banner/6b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
           </div>

           <div class="col-lg-2 col-md-4 col-6">
             <img src="{% static 'img/banner/9b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
           </div>
         </div>

       </div>
     </section>



       <!-- final del dise;o de tabla-->


     <!-- Bootstrap core JavaScript-->
     <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
     <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

     <!-- Core plugin JavaScript-->
     <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

     <!-- Custom scripts for all pages-->
     <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

     <!-- Page level plugins -->
     <script src="{% static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
     <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

     <!-- Page level custom scripts -->
     <script src="{% static 'js/demo/datatables-demo.js'%}"></script>

</body>

</html>
