{% extends 'Peluditos/BaseTabla.html' %}


  {% block title %}   <title>  🦴  Peluditos - Citas </title> {% endblock title %}



  {% block content %}


  <!-- Contenedor de tabla -->
  <div class="container-fluid">

             <!-- Dropdown Card Example -->
             <div class="card shadow mb-4">
               <!-- Card Header - Dropdown -->
               <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                 <h6 class="m-0 font-weight-bold text-success">Citas</h6>
                 <div class="dropdown no-arrow">
                   <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                   </a>
                   <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                     <a class="dropdown-item" href=""><i class="far fa-calendar-plus"></i> Agendar Cita</a>
                   </div>
                 </div>
               </div>

               <!-- Card Body -->
               <div class="card-body">

                 {% if not citas %}
                   <h3> No hay citas todavia </h3>

                 {% else %}
                   <table class="table table-striped table-hover">
                     <thead>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Id</h6> </th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Fecha</h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Mascota</h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Estado (Pendiente /Realizado)</h6></th>
                       <th class="all"> </th>
                     </thead>

                     <tbody>
                       {% for cita in citas %}
                          <tr>
                            <th>{{ cita.id }}</th>
                            <th>{{ cita.Fecha }}</th>
                            <th>{{ cita.Mascota }}</th>
                            <th>{{ cita.Estado}}</th>
                            <th>
                              <a href='{%url "EditarCita" cita.id %}' role="button"><i class="far fa-edit"></i></a>
                              <a href='{%url "EliminarCita" cita.id %}' role="button"><i class="far fa-trash-alt"></i></a>
                            </th>
                          </tr>
                       {% endfor %}
                     </tbody>
                   </table>
                 {% endif %}
               </div>
             </div>

  {% endblock %}
