{% extends 'Peluditos/BaseTabla.html' %}

{% block title %}   <title>  🦴  Peluditos - Clientes </title>   {% endblock title %}


{% block content %}

<!-- Contenedor de tabla -->
<div class="container-fluid">

       <!-- Dropdown Card Example -->
       <div class="card shadow mb-4">
         <!-- Card Header - Dropdown -->
         <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
           <h6 class="m-0 font-weight-bold text-success">Clientes</h6>
         </div>

         <!-- Card Body -->
         <div class="card-body">
           {% if not propietarios %}
             <h3> No hay servicio todavia </h3>

             {% else %}
             <table class="table table-striped table-hover">
               <thead>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Id </h6></th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Nombre </h6></th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Apellido Paterno</h6> </th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Apellido Materno</h6> </th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Sexo </h6></th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Fecha de Nacimiento </h6></th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Telefono </h6></th>
                 <th>  <h6 class="m-0 font-weight-bold text-primary">Email</h6></th>
                 <th class="all"> </th>
               </thead>

               <tbody>
                 {% for propietario in propietarios %}
                    <tr>
                      <th>{{ propietario.id }}</th>
                      <th>{{ propietario.Nombre }}</th>
                      <th>{{ propietario.Apellido_Paterno }}</th>
                      <th>{{ propietario.Apellido_Materno }}</th>
                      <th>{{ propietario.Sexo}}</th>
                      <th>{{ propietario.Fecha_Nacimiento }}</th>
                      <th>{{ propietario.Telefono }}</th>
                      <th>{{ propietario.Email }}</th>
                      <th>
                        <a href='{%url "EditarCliente" propietario.id %}'  role="button"><i class="far fa-edit"></i></a>
                        <a href='{%url "EliminarCliente" propietario.id %}'  role="button"><i class="far fa-trash-alt"></i></a>
                      </th>
                    </tr>
                 {% endfor %}
               </tbody>
             </table>
           {% endif %}
         </div>
       </div>

{% endblock %}
