{% extends 'Peluditos/BaseTabla.html' %}

{% block title %}  <title>  🦴  Peluditos - {{ servicio.Tipo_de_Servicio }} </title> {% endblock title %}


  {% block content %}


  <!-- Contenedor de tabla -->
  <div class="container-fluid">

             <!-- Dropdown Card Example -->
             <div class="card shadow mb-4">
               <!-- Card Header - Dropdown -->
               <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                 <h6 class="m-0 font-weight-bold text-success">Detalles</h6>
               </div>

               <div class="card-body">

                   <table class="table table-striped table-hover">
                     <thead>
                       <th>  <h6 class="m-0 font-weight-bold text-primary">Id de Servicio </h6></th>
                       <th>  <h6 class="m-0 font-weight-bold text-primary">Tipo de Servicio</h6> </th>
                       <th>  <h6 class="m-0 font-weight-bold text-primary">Costo </h6></th>
                       <th>  <h6 class="m-0 font-weight-bold text-primary">Duracion </h6></th>

                     </thead>

                     <tbody>

                          <tr>
                            <th>{{ servicio.id }}</th>
                            <th>{{ servicio.Tipo_de_Servicio }}</th>
                            <th>{{ servicio.Costo }}</th>
                            <th>{{ servicio.Duracion }}</th>
                          </tr>
                
                     </tbody>
                   </table>

               </div>
             </div>
         </div>

{% endblock %}
