<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>  🦴  Peluditos - Estética Canina</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->



  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Nombre ======= -->

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="">
          <span> 🦴  Peluditos   </span></a></h1>
      </div>

  <!-- ======= Barra Superior ======= -->

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li><a href="#sobren">Sobre Nosotros</a></li>
          <li><a href="#servicios">Servicios</a></li>
          <li><a href="#paquetes">Paquetes</a></li>
          <li><a href="#comentarios">Comentarios</a></li>
          <li><a href="#contacto">Contáctanos</a></li>

          <!-- ======= Boton Login ======= -->

          <li class="get-started"><a href='{%url "Login"%}'>Administración</a></li>

        </ul>
      </nav>

    </div>
  </header>


  <!-- ======= Presentacion de Inicio======= -->

  <main id="main">

    <section id="inicio" class="clients clients">
      <div class="container">

        <section id="hero" class="d-flex align-items-center">

          <div class="container">
            <div class="row">
              <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">

                <h1 data-aos="fade-up">Bienvenidos a Peluditos </h1>
                <br>
                <h1 data-aos="fade-up"> Estética Canina</h1>
                <br>
                <h2 data-aos="fade-up" data-aos-delay="400">Queremos consentir a su mejor amigo.</h2>

              </div>

              <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">

                <img src="static/img/fondo.jpg" class="img-fluid animated" alt="">
              </div>
            </div>
          </div>

        </section>

      </div>
   </section>


    <!-- ======= Sobre de Nosotros ======= -->
    <section id="sobren" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Sobre Nosotros</h2>
        </div>

        <div class="row content">

          <p>

              Peluditos es una empresa 100% Tijuanense desde hace 5 años, formada por gente a la que nos une el amor por los perritos.

           </p>


           <p>

              En peluditos sabemos lo importante que es para ti tu mejor amigo, por eso nos esforzamos para brindar el mejor servicio posible, adaptandonos a las necesidades
              de tu peludo.

          </p>


        </div>
     <br>
      <br>
       <br>

        </div>

        <section id="clients" class="clients clients">
          <div class="container">

            <div class="row">  <div class="col-lg-2 col-md-4 col-6">
                <img src="static/img/banner/1.jpg" class="img-fluid" alt="" data-aos="zoom-in">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="static/img/banner/2.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="static/img/banner/3.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="static/img/banner/4.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="static/img/banner/6.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
              </div>

              <div class="col-lg-2 col-md-4 col-6">
                <img src="static/img/banner/9.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
              </div>
            </div>

          </div>
        </section>

    </section>

    <!-- ======= servicios ======= -->

    <section id="servicios" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Servicios</h2>

        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Baño Medicado</h4>
                <p>$90.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Corte de Pelo</h4>
                <p>$130.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Corte de Uñas</h4>
                <p>$25.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/10.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Razurado de Coginetes</h4>
                <p>$35.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/11.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Limpieza de Oidos</h4>
                <p>$50.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/12.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Limpieza Dental</h4>
                <p>$50.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/13.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Arreglo para Exposicion</h4>
                <p>$200.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/14.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Antipulgas</h4>
                <p>$150.00</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/img/servicios/15.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Desparacitacion</h4>
                <p>$180.00</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>


    <!-- ======= PAQUETES ======= -->
    <section id="paquetes" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>PAQUETES DE SERVICIO</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
              <h3> CLASSY </h3>
              <h4><sup>$</sup>200 🦴<span></span></h4>
              <ul>
                <li>Corte de Pelo</li>
                <li>Baño Medicado</li>
                <li>Corte de Uñas</li>
              </ul>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <h3> MIDDY </h3>
              <h4><sup>$</sup>300 🦴<span></h4>
              <ul>
                <li>Corte de Pelo</li>
                <li>Baño Medicado</li>
                <li>Antipulgas</li>
                <li>Corte de Uñas</li>
              </ul>

            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
              <h3> WONDER </h3>
              <h4><sup>$</sup>400 🦴<span></span></h4>
              <ul>
                <li>Corte de Pelo</li>
                <li>Baño Medicado</li>
                <li>Antipulgas</li>
                <li>Corte de Uñas</li>
                <li>Limpieza de Oidos</li>
                <li>Limpieza Dental</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ======= COMENTARIOS DESTACADOS======= -->
    <section id="comentarios" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>COMENTARIOS DESTACADOS</h2>
          </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/img/comentarios/ivo.jpg" class="testimonial-img" alt="">
              <h3>David Rodriguez</h3>
              <h4>Ivo </h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Primera vez que llevamos a nuestro perrito y excelente servicio, me encanto el corte y la atencion super amables y atentos. 100% recomendado. Definitivamente volveremos.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/img/comentarios/ozzy.jpg" class="testimonial-img" alt="">
              <h3>Cynthia Navarrete</h3>
              <h4>Ozzy</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Muy buen trato hacia mi perrito, muy contenta con el resultado final.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/img/comentarios/cj.jpg" class="testimonial-img" alt="">
              <h3>Abigail</h3>
              <h4>Mumu & CJ</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                 Mumu y CJ son clientes frecuentes, siempre los tratan con mucho cariño, y hasta les regalan premios.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/img/comentarios/bruno.jpeg" class="testimonial-img" alt="">
              <h3>Jackelin Estrada</h3>
              <h4>Bruno</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Buena atencion, muy limpio y todos muy atentos. El servicio es rapido y de calidad.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="static/img/comentarios/kira.jpg" class="testimonial-img" alt="">
              <h3>Luis Ramirez</h3>
              <h4>Kira</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Mi perrita es muy nerviosa y no le gustan los extraños, la trataron tan bien que estuvo quieta durante todo el tiempo, sin duda sera nuestra estetica favorita.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>


    <!-- ======= CONTACTO ======= -->
    <section id="contacto" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>CONTACTANOS</h2>
        </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>A108 Adam Street<br>New York, NY 535022</p>
              </div>

              <div>
                <i class="ri-mail-send-line"></i>
                <p>esteticacaninapeluditos@gmail.com</p>
              </div>

              <div>
                <i class="ri-phone-line"></i>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>
          </div>
      </div>
    </section>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="static/img/pago/2.jpg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="static/img/banner/2.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="static/img/pago/4.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="static/img/banner/4.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="static/img/pago/1.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="static/img/banner/6.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- End Contact Section -->



  </main>



  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
