{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>  🦴  Peluditos -  Login</title>


    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template áéíóú-->
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>


 <!-- Cuadro -->
<br>
<br>
<br>
<br>
 <div class="row justify-content-center">


         <!-- Earnings (Monthly) Card Example -->
         <div class="col-xl-3 col-md-6 mb-4">
           <div class="card border-left-success shadow h-100 py-2">

               <div class="card-body">

                 <div class="card-body">

                     <div >
                       <h6 class="m-0 font-weight-bold text-primary">Ingresar a Administracion 🦴</h6>   <hr>
                     </div>

                       <hr>
                       </form>
                       <form class="user" method = "POST"> {% csrf_token %}

                         <div class="form-group">
                           <input type="text" class="form-control form-control-user" placeholder="Nombre de Usuario" name="username">
                         </div>

                         <div class="form-group">
                           <input type="password" class="form-control form-control-user"  placeholder="Contraseña" name = "password">
                         </div>
                         <div class="custom-control custom-checkbox small">
                           <input type="checkbox" class="custom-control-input" id="customCheck">
                           <label class="custom-control-label" for="customCheck">Remember Me</label>
                         </div> <hr> <input type = "submit" class="btn btn-primary btn-user btn-block" value = "Ingresar"/>
                    </div>

              </div>
           </div>
       </div>
</div>
<br>
<br>
<br>
<br>
<!-- Perritos -->
        <section id="clients" >
          <div class="container">
            <div class="row">  <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/banner/1b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in">
              </div>
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/banner/2b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
              </div>
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/banner/3b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200">
              </div>
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/banner/4b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300">
              </div>
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/banner/6b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400">
              </div>
              <div class="col-lg-2 col-md-4 col-6">
                <img src="{% static 'img/banner/9b.jpg'%}" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500">
              </div>
            </div>
          </div>
      </section>

    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js'%} "></script>

</body>

</html>
