{% extends 'Peluditos/BaseTabla.html' %}

{% block title %}  <title>  🦴  Peluditos - Mascotas </title> {% endblock title %}


  {% block content %}


  <!-- Contenedor de tabla -->
  <div class="container-fluid">

             <!-- Dropdown Card Example -->
             <div class="card shadow mb-4">
               <!-- Card Header - Dropdown -->
               <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                 <h6 class="m-0 font-weight-bold text-success">Mascotas</h6>
               </div>

               <!-- Card Body -->
               <div class="card-body">

                 {% if not mascotas %}
                   <h3> No hay mascotas todavia </h3>

                 {% else %}
                   <table class="table table-striped table-hover">
                     <thead>
                       <th><h6 class="m-0 font-weight-bold text-primary"> Id </h6></th>
                       <th><h6 class="m-0 font-weight-bold text-primary"> Nombre</h6> </th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Raza </h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Color </h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Sexo </h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Fecha de Nacimiento </h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Peso en Kg </h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Propietario</h6></th>
                       <th class="all"> </th>
                     </thead>

                     <tbody>
                       {% for mascota in mascotas %}
                          <tr>
                            <th>{{ mascota.id }}</th>
                            <th>{{ mascota.Nombre }}</th>
                            <th>{{ mascota.Raza }}</th>
                            <th>{{ mascota.Color }}</th>
                            <th>{{ mascota.Sexo}}</th>
                            <th>{{ mascota.Fecha_Nacimiento }}</th>
                            <th>{{ mascota.Peso_Kg }}</th>
                            <th>{{ mascota.Propietario }}</th>
                            <th>
                              <a href='{%url "EditarMascota" mascota.id %}' role="button"><i class="far fa-edit"></i></a>
                              <a href='{%url "EliminarMascota" mascota.id %}' role="button"><i class="far fa-trash-alt"></i></a>
                            </th>
                          </tr>
                       {% endfor %}
                     </tbody>
                   </table>
                 {% endif %}
               </div>
             </div>

{% endblock %}
