{% extends 'Peluditos/BaseTabla.html' %}

{% block title %}   <title>  🦴  Peluditos - Servicios </title>   {% endblock title %}

{% block content %}

<!-- Contenedor de tabla -->
<div class="container-fluid">

             <!-- Tabla -->
             <div class="card shadow mb-4">
               <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                 <h6 class="m-0 font-weight-bold text-success">Servicios</h6>
               </div>

               <!-- Card Body -->
               <div class="card-body">

                 {% if not servicios %}
                   <h3> No hay servicio todavia </h3>

                 {% else %}
                   <table class="table table-striped table-hover">
                     <thead>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Id de Servicio </h6></th>
                       <th> <h6 class="m-0 font-weight-bold text-primary">Servicios</h6></th>
                       <th class="all">  </th>
                     </thead>

                     <tbody>
                       {% for servicio in servicios %}
                          <tr>
                            <th>{{ servicio.id }}</th>
                            <th>{{ servicio.Tipo_de_Servicio }}</th>
                          <th>
                              <a href='{%url "DetallesdeServicio" servicio.id %}' role="button"><i class="far fa-eye"></i></a>
                              <a href='{%url "EditarServicio" servicio.id %}' role="button"><i class="far fa-edit"></i></a>
                              <a href='{%url "EliminarServicio" servicio.id %}' role="button"><i class="far fa-trash-alt"></i></a>
                            </th>
                          </tr>
                       {% endfor %}
                     </tbody>
                   </table>
                {% endif %}
               </div>
             </div>

{% endblock %}
